In [2]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
train = pd.read_csv('Email spam.csv')

In [4]:
train

          Id  spam                                               text
0        1.0   1.0  Subject: naturally irresistible your corporate...
1        2.0   1.0  Subject: the stock trading gunslinger  fanny i...
2        3.0   1.0  Subject: unbelievable new homes made easy  im ...
3        4.0   1.0  Subject: 4 color printing special  request add...
4        5.0   1.0  Subject: do not have money , get software cds ...
...      ...   ...                                                ...
2905  2909.0   0.0  Subject: re : term papers  please respond to  ...
2906  2910.0   0.0  Subject: re : actions on anjam ' s resignation...
2907  2911.0   0.0  Subject: india database  jim / wade ,  as you ...
2908  2912.0   0.0  Subject: re : invitation - wharton et events  ...
2909  2913.0   0.0  Subject: moze cie to zainteresuje  vince ,  da...

[2910 rows x 3 columns]

In [5]:
#
train=train.dropna()

In [6]:
train

          Id  spam                                               text
0        1.0   1.0  Subject: naturally irresistible your corporate...
1        2.0   1.0  Subject: the stock trading gunslinger  fanny i...
2        3.0   1.0  Subject: unbelievable new homes made easy  im ...
3        4.0   1.0  Subject: 4 color printing special  request add...
4        5.0   1.0  Subject: do not have money , get software cds ...
...      ...   ...                                                ...
2905  2909.0   0.0  Subject: re : term papers  please respond to  ...
2906  2910.0   0.0  Subject: re : actions on anjam ' s resignation...
2907  2911.0   0.0  Subject: india database  jim / wade ,  as you ...
2908  2912.0   0.0  Subject: re : invitation - wharton et events  ...
2909  2913.0   0.0  Subject: moze cie to zainteresuje  vince ,  da...

[2908 rows x 3 columns]

In [7]:
train['spam'].unique()

array([1., 0.])

In [8]:
train[train['spam']=='its termination would not  have such a phenomenal impact on the power situation .  however '].shape

(0, 3)

In [9]:
#df1 = df.dropna(axis=1)

In [10]:
df_x=train['text']
df_y=train['spam']

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

(2035,)
(873,)

In [12]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer= TfidfVectorizer(min_df=1,stop_words='english')

In [14]:
tfidf_train = tfidf_vectorizer.fit_transform(x_train)

In [15]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
clf.fit(tfidf_train,y_train)
clf.score(tfidf_train,y_train)

0.9980343980343981

In [16]:
tfidf_test = tfidf_vectorizer.transform(x_test)

In [24]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(tfidf_test )
val1 = accuracy_score(y_pred,y_test)

In [18]:
import sklearn.metrics

In [19]:
print(sklearn.metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.96      1.00      0.98       442
         1.0       1.00      0.96      0.98       431

    accuracy                           0.98       873
   macro avg       0.98      0.98      0.98       873
weighted avg       0.98      0.98      0.98       873

In [20]:
y_pred = clf.predict(tfidf_test )
y_true=y_test


from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_true,y_pred)
cm

array([[440,   2],
       [ 17, 414]])

In [21]:
import seaborn as sns
import matplotlib.pyplot as plt

f, ax=plt.subplots(figsize=(5,5))
sns.heatmap(cm,annot=True,linewidths=0.5,linecolor="red",fmt=".0f",ax=ax)
plt.xlabel("y_pred")
plt.ylabel("y_true")
plt.show()

/home/user/anaconda3/envs/test/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [22]:
with open('tranform.pickle','wb') as f:
    pickle.dump(tfidf_vectorizer,f)

In [23]:
with open('model.pickle','wb') as f:
    pickle.dump(clf,f)

In [25]:
df= pd.read_csv('Email spam.csv', sep=',')
df.head()

    Id  spam                                               text
0  1.0   1.0  Subject: naturally irresistible your corporate...
1  2.0   1.0  Subject: the stock trading gunslinger  fanny i...
2  3.0   1.0  Subject: unbelievable new homes made easy  im ...
3  4.0   1.0  Subject: 4 color printing special  request add...
4  5.0   1.0  Subject: do not have money , get software cds ...

In [27]:
X = df.text
y = df.spam

In [28]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)